.head {
  font-size: 10px;
  margin: 2%;
}
body {
  background-color: #FF9F9F;
 
}
.form {
  padding: 1%;
}
.form h1 {
  text-align: center;
}
.btn {
  text-align: center;
}
.btn button {
  font-size: 20px;
  margin: 2%;
  background:#E97777;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  transform: 0.4s;
  transition-duration: 300ms;
}
.btn button:hover {
  background: white;
  color: black;
  border: 1px solid #E97777;
}
.form table {
  padding: 4%;
  background: #9D9D9D;
  font-size: 17px;
}
.form table input {
  font-size: 17px;
  transform: 0.4s;
  transition-duration: 300ms;
}
.form table input:hover {
  transform: scale(1.1);
}
.form table tr {
  margin: 1%;
}
.para {
  font-size: 20px;
}
